includes:
    - vendor/phpstan/phpstan-nette/extension.neon
parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - %rootDir%/../../../tests/_temp/*
    treatPhpDocTypesAsCertain: false
    earlyTerminatingMethodCalls:
        Tester\Assert:
            - fail
    universalObjectCratesClasses:
        - Nette\Security\IIdentity
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Ternary operator condition is always true#'
        - '#Call to an undefined method Nette\\ComponentModel\\IComponent::render\(\)#'
