includes:
    - vendor/phpstan/phpstan-nette/extension.neon
parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - %rootDir%/../../../tests/_temp/*
    treatPhpDocTypesAsCertain: false
    earlyTerminatingMethodCalls:
        Tester\Assert:
            - fail
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Method Testbench\\CustomPresenterTestCase::getException\(\) should return Exception but returns Exception\|nul#'
        - '#Ternary operator condition is always true#'
