includes:
    - vendor/phpstan/phpstan-nette/extension.neon
parameters:
    level: 8
    paths:
        - src
        - tests
    excludes_analyse:
        - %rootDir%/../../../tests/_temp/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    earlyTerminatingMethodCalls:
        Tester\Assert:
            - fail
    ignoreErrors:
        - '#Method Testbench\\CustomPresenterTestCase::getException\(\) should return Exception but returns Exception\|nul#'
        - '#Instanceof between \*NEVER\* and Traversable will always evaluate to false#'
        - '#Result of \|\| is always true#'
