# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning


application:
	scanDirs: %testsDir%/_helpers


routing:
	routes:
		'/x/y[[[/<presenter>]/<action>][/<id>]]': 'Presenter:default'


services:
	testbench.presenterMock: Testbench\CustomPresenterMock


extensions:
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	# already registered by Testbench\ContainerFactory
	#console: Kdyby\Console\DI\ConsoleExtension
	#fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension
